label, input {
    display: block;
    float: left;
}
ul.form {
    width  : 100%;
    padding: 0px;
    margin : 0px;
    list-style-type: none;
}
ul.form li,
ul.form li input,
ul.form li select {
    width : 100%;
}
ul.form li label{
    font-size: 10px;
    font-style: normal;
}
.hgroup {
    padding-top: 10px;
    float : left;
    width : 100%;
}
.vgroup {
    padding-top: 12px;
    width: 100%;
    display: table;
    float: left;
    align-content: center;
}
.checkbox {
    display: flex;
    float: left;
    /*position: absolute;*/
    align-content: flex-end;
}
.half {
    width: 50%;
}
ul.form li label.checkbox {
    display: inline;
    float: none;
    width: auto;
    text-align: left;
    align-content: center;
}
ul.form li input.checkbox {
    width : auto;
}