table {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    padding: 4px;
    color: black;
}

table th, table td {
    padding: 4px;
    font-size: 12px;
    text-align: left;
}

table th {
    background: #cccccc;
    color: gray;
    font-weight: bold;
}
tbody tr:nth-child(even) {
    background: #eeeeee;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}