article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body {
    font: 12px/18px Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.wrapper {
    padding: 10px;
    min-width: 800px;
    min-height: 100%;
    overflow: hidden;
}

.header {
    height: 100px;
    border:dotted 1px #ff00ff;
    background: #dfdfdf;
    padding: 10px;
    min-width: inherit;
}

.middle {
    min-width: inherit;
    min-height: 350px;
    position: fixed;
    display: block;
    clear: both;
    left: 10px;
    bottom: 10px;
    right: 10px;
    top: 100px;
    padding-top: 10px;
    overflow: hidden;
}
.container {
    height: 100%;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-flow:column nowrap;
}
.content {
    border:dotted 1px #cacaca;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-content: space-around;
}

.left-sidebar {
    border:dotted 1px #00ff00;
    float: left;
    width: 200px;
    height: 100%;
    position: relative;
    background: #fafafa;
    padding: 10px;
    overflow: hidden;
}

.footer {
    border:dotted 1px #0000ff;
    height: 180px;
    width: 100%;
    background: #fafafa;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    align-self:flex-end;
}
#svgElement {

    position: fixed;
    display: flex;
    clear: both;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-flow:column nowrap;
}