.menu-list {
    margin: 0;
    padding: 0;
    width:100%;
    list-style-type: none;
}
.menu-list li {
    width:100%;
    height: auto;
    border:dotted 1px #606060;
}
.menu-list a {
    text-decoration: none;
    color: black;
    width:100%;
    height: 24px;
    padding: 4px;
    background-color: #cacaca;
    display:block;
}

.menu-list a:visited {
    color: gray;
}

.menu-list a:hover,
.menu-list a::selection {
    color: white;
    background-color: #3d3d3d;
}
.list-group {
    padding-top: 10px;
    display: block;
    float : left;
    width : 100%;
    height: auto;
}
.list-group label {
    display: inline;
    float : none;
}