.tabs {
    height: auto;
    list-style-type: none;
    width: auto;
    margin-top: 4px;
    padding-left: 2px;
    overflow: hidden;
    position: relative;
}

.tabs li {
    display: block;
    height:44px;
    width: 100px;
    margin-left: 2px;
    border:dotted 1px #cacaca;
    float: left;
}
.active {
    display: block;
    height: 100%;
    background-color: #9a9a9a;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    font-size: 12px;
    padding: 4px;
}
li:target .active,
li:last-child .active {
    background-color: #fafafa;
    color: gray;
}
li:target ~ li:last-child .active {
    background-color: #9a9a9a;
    color: whitesmoke;
}